body {
    background-color: rgb(254, 250, 224);
    color: rgb(54, 100, 137);
}
.outer-list {
    background-color: rgb(54, 100, 137);
    color: white;
    padding: 5px;
    margin: 15px auto 15px auto;
    width: 90%;
}
.outer-list a {
    color: rgb(247, 206, 126);
    font-weight: bold;
}
#horizontal-line {
    border: none;
    height: 5px;
    width: 100%;
    background-color: rgb(247, 206, 126);
}
.inner-list {
    background-color: rgb(156, 203, 219);
    color: white;
    padding: 5px;
    margin: 15px auto 15px auto;
    width: 95%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.expandable-list > li {
    cursor: pointer;
    position: relative;    
}
.expandable-list > li::after {
    content: '\25BA'; /* Unicode for right-pointing arrow */
    position: absolute;
    right: 20px;
    top: 40px;
    transform: translateY(-50%);
    font-size: 16px;
    transition: transform 0.3s ease;
}
.expandable-list > li.active::after {
    transform: rotate(90deg);
}
.more-info {
    display: none;
}
.inner-list a {
    color: rgb(54, 100, 137);
}
#page-title {
    margin-left: 5%;
}