/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sour Gummy";
    margin: 0;
    padding: 0;
    background-color: #f5f2df;
    color: #004f5f;
    width: min-content;
}

h1 {
    font-size: xx-large;
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3A7D92;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    width: min-content;
    margin-right: 15px;
}

.logo img {
    max-width: 50px;
    margin-right: 10px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: max-content;
}

.nav ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #274862;
    border-radius: 5px;
}

.nav ul li a:hover {
    background-color: #1a2e3c;
}

/* Introduction Section */
.intro {
    text-align: center;
    padding: 100px 100px;
    background-color: #f5f2df;
    border-top: 50px solid #f7ca75;
    border-bottom: 5px solid #f7ca75;
}

.intro h1 {
    color: #004f5f;
}

.intro p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 24px;
}

/* Button Section */
.buttons {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.buttons a {
    text-decoration: none;
    color: #fff;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 40px solid #004f5f;
    border-radius: 5px;
    background-color: #91c4d3;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    box-sizing: content-box;
}

.button-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.button-text {
    padding: inherit;
    color: #004f5f;
    font-size: 60px;
    margin: auto;
}

/* Footer */
.footer {
    background-color: #f7ca75;
    padding: 3% 10%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
}

.footer-column {
    width: 30%;
}

.footer-links {
    padding-top: 2%;
}

.footer-links a {
    text-decoration: none;
    color: #004f5f;
    font-weight: normal;
    font-size: 18px;
}

/* Map */
#search {
    position: relative;
    margin: 50px 50px 0px 50px;
}

#map {
    padding-bottom: 50%;
    position: relative;
    margin: 10px 50px 10px 50px;
}

.pantry {
    margin: 0px 50px 10px;
}

#mapform>p {
    position: relative;
    margin: 0px 0px 0px 50px;
}

#pantry-info a {
    text-decoration-color: white;
    color: white;
}

#mapform a {
    text-decoration-color: #004f5f;
    color: #004f5f;
}

#pantry-info {
    background-color: #274862;
    color: white;
    padding: 5px;
    margin: 15px auto 15px auto;
    width: 90%;
}

/* hide zip code label */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (min-width:768px) {
    body {
        width: auto;
    }

    .header {
        justify-content: space-between;
    }

    .logo {
        width: auto;
        margin-right: auto;
    }

    .nav ul {
        width: auto;
    }

    .nav ul li {
        margin-right: 20px;
        margin-left: 0px;
    }
}